{% extends 'templates.html'%}
{%block lilo%} Contato {%endblock%} 
 {%block stitch%}  
   <div class="qm">
        <h1>Entre em contato</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe excepturi incidunt totam nihil laborum dolor?
            At eaque vel nulla ad ex deleniti. Quo, id consectetur similique dolore deleniti tempora earum?</p>
    </div>
    <hr width="90%">
    <div class="qm">
        <form>
            Seu e-mail:
            <br>
            <input type="text" name="email">
            <br>
            Assunto:
            <br>
            <input type="text" name="assunto">
            <br>
        </form>
        <form name="input" action="html_form_action.asp" method="get" >
            Descrição:
            <br>
            <textarea cols="20" rows="3"></textarea>
            <input type="submit" value="Enviar">
        </form>

    </div>
{%endblock%}