<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block lilo%}{%endblock%}</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body {%block nani%}{%endblock%}>
    <div class="cab">
        <div>
        <img src="../static/images/logo.png" alt="logo" class="logo">
        </div>
        <nav>
        <a href="/"> Home |</a>
        <a href="qmsomos"> Quem Somos |</a>
        <a href="contato"> Contato  </a>
        </nav>
    </div>
    {%block stitch%}
    {%endblock%}

</body>
<footer>
    Todo os direitos reservados.
</footer>

</html>